@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kablammo";
}

body {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer,
header {
    background-color: #2EE894;
    min-height: 50px;
}

footer {
    margin-top: auto;
    text-align: center;
}

ul,
li {
    list-style: none;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: green;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    padding: 5 px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 90%;
    margin: 15px 0px;
}

form div{
    width: 50%;
}

input, textarea{
    border: 0;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    outline: 0;
    height: auto;
    box-shadow: 0 1px 0 #8DE87B;
    width: 50%;
}

button{
    background-color: #2EE894;
    color: white;
    border: 0;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    width: 25%;
}